.add {
    padding: 5rem;
}
  .add-part-btn{
    margin-left: 28%;
    margin-top: 1rem;
  }
  .delete-btn{
    margin-top: 4rem;
  }
 ::ng-deep{
  .mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 21rem;
    font-size: 1.2rem;
}
 }